@charset "utf-8";

/* ============================================
  LP
// ==========================================*/

.lp {

/*--------------------
	ヘッダー
--------------------*/
  .header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 45px;
    @include mq(sp) {
			padding: 16px;
		}

    &__logo {
      img {
        width: 103px;
        @include mq(sp) {
          transform: scale(0.8);
        }
      }
    }
  }

/*--------------------
	メインビジュアル
--------------------*/
  .mainVisual {
    position: relative;
    &__bg-img {
      height: 800px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      @include mq(sp) {
        height: 450px;
      }
    }
    &__wrap {
      display: flex;
      max-width: 1524px;
      margin: 0 auto;
      padding: 0 200px;
      position: relative;
      @include mq(tab) {
        padding-left: 88px;
      }
      @include mq(sp) {
        padding: 0 24px;
      }
    }
    &__copy {
      margin-top: 140px;
      position: relative;
      z-index: 2;
      @include mq(sp) {
        margin-top: 92px;
      }
      .copy {
        font-size: 6rem;
        font-weight: bold;
        line-height: 1.6;
        @include mq(sp) {
          font-size: 3rem;
        }
      }
      .fz-70 {
        font-size: 7rem;
        line-height: 1;
        @include mq(sp) {
          font-size: 3.5rem;
        }
      }
    }
    &__logo-img {
      width: 57.5%;
      max-width: 829px;
      position: absolute;
      top: -40px;
      right: 0;
      @include mq(sp) {
        top: auto;
        width: 48%;
        bottom: -76px;
        right: -8px;
      }
    }
    .list {
      margin-top: 16px;
      @include mq(sp) {
        margin-top: 18px;
      }
    }
  }

/*--------------------
	COMING SOON
--------------------*/
  .sec__coming-soon {
    margin-top: 240px;
    @include mq(tab) {
      margin-top: 88px;
    }
    @include mq(sp) {
			margin-top: 92px;
		}

    .coming-soon {
      &__text-holder {
        text-align: center;

        .bold {
          font-weight: bold;
        }
        .thin {
          font-size: 2rem;
          font-weight: bold;
          margin-top: 16px;
          @include mq(sp) {
            font-size: 1.2rem;
          }
        }
        .eng {
          font-size: 6.6rem;
          letter-spacing: 0.075em;
          line-height: 1;
          @include mq(sp) {
            font-size: 3.8rem;
          }
        }
        .ja {
          font-size: 4rem;
          line-height: 1;
          margin-top: 32px;
          @include mq(sp) {
            font-size: 2.2rem;
            margin-top: 14px;
          }
        }

      }
      &__btn-holder {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 40px;
        @include mq(sp) {
          margin-top: 24px;
          // display: block;
        }
      }
    }
    .commonBtn01 {
      @include mq(sp) {
        flex: 0 0 48%;
      }
      &.-pink {
        margin-right: 24px;
        @include mq(sp) {
          margin-right: 8px;
        }
      }
    }
  }

/*--------------------
	採用管理
--------------------*/
  .sec__recruit-manage {
    margin-top: 120px;
    position: relative;
    min-height: 790px;
    @include mq(sp) {
			margin-top: 48px;
      min-height: 300px;
		}

    .recruit-manage {
      &__bg-img {
        height: 542px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        @include mq(sp) {
          height: 200px;
        }

        .c-background--mirror__item {
          height: 35%;
          margin-top: 16px;
          img {
            object-position: 100% 100%;
          }
        }
      }
      &__inner {
        padding-top: 214px;
        @include mq(sp) {
          padding-top: 80px;
        }
      }
      &__head {
        @include mq(tab) {
          margin-left: 32px;
        }
      }
      &__body {
        padding-top: 208px;
        @include mq(sp) {
          padding-top: 80px;
        }

        .body {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-top: 48px;
          @include mq(sp) {
            margin-top: 24px;
            display: block;
          }
        }
        .card {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex: 0 0 50%;
          padding-right: 3%;
          @include mq(sp) {
            margin-top: 16px;
            &:first-child {
              margin-top: 0;
            }
          }


          &__list {
            margin-left: 40px;
            color: #eee;
            @include mq(sp) {
              margin-left: 24px;
            }
          }
          &__term {
            font-size: 2.4rem;
            color: #eb7973;
            font-weight: bold;
            margin-top: 4px;
            @include mq(sp) {
              font-size: 1.6rem;
            }
          }
        }
        .postscript {
          line-height: 1.6;
          display: inline-block;
          margin-top: 8px;
          font-size: 1.6rem;
          @include mq(sp) {
            font-size: 1.4rem;
            margin-top: 4px;
          }
        }
      }
    }
    .commonTitle01 {
      @include mq(sp) {
        margin-left: 16px;
      }
    }
  }

/*--------------------
	その他サービス
--------------------*/
  .sec__other-service {
    margin-top: 160px;
    @include mq(sp) {
      margin-top: 96px;
    }

    .other-service {
      &__head {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__body {
        margin-top: 88px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        @include mq(sp) {
          display: block;
          margin-top: 56px;
        }

        .card {
          width: 30%;
          margin-right: 5%;
          max-width: 360px;
          @include mq(sp) {
            width: 90%;
            margin: 24px auto;
            &:first-child {
              margin-top: 0;
            }
          }
          &:nth-child(3n+3) {
            margin-right: 0;
            @include mq(sp) {
              margin-right: auto;
            }
          }
        }
        .term {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .list {
          margin-top: 12px;
          position: relative;
          z-index: 2;
          color: #eee;
        }
        .description {
          margin-top: 30px;
          @include mq(sp) {
            margin-top: 8px;
          }

          .img-holder {
            @include keepAspect(52.7%);
          }
        }
        .img-holder {
          height: 10%;
          img {
            object-position: 100% 100%;
          }
        }
        .c-background--mirror__item {
          &::after {
	        	background: linear-gradient(to bottom, #000 0%, rgba(255, 255, 255, 0) 200%);
          }
        }
      }
    }
    .annotation {
      margin-top: 48px;
      padding: 48px;
      text-align: center;
      background-color: #111;
      @include mq(sp) {
        margin-top: 32px;
        padding: 32px 24px;
			}
      &__text {
        .term {
          font-size: 1.6rem;
          font-weight: bold;
          @include mq(sp) {
            font-size: 1.4rem;
            line-height: 1.6;
            text-align: left;
          }
        }
        .description {
          font-size: 1.6rem;
          margin-top: 8px;
          @include mq(sp) {
            font-size: 1.4rem;
            line-height: 1.6;
            text-align: left;
          }
        }
      }
    }
  }

/*--------------------
	会社概要
--------------------*/
  .sec__profile {
    margin-top: 72px;
    position: relative;
    @include mq(sp) {
      margin-top: 56px;
    }

    .profile {
      &__bg-img {
        height: 400px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include mq(sp) {
          height: 200px;
        }
      }
      &__head {
        padding-top: 148px;
        @include mq(sp) {
          padding-top: 64px;
        }
      }
      &__body {
        margin-top: 148px;
        background-color: #111;
        padding: 76px 88px 82px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
        @include mq(sp) {
          margin-top: 48px;
          display: block;
          padding: 24px 14px;
        }

        &::before {
          content: '';
          display: inline-block;
          width: 595px;
          height: 776px;
          background-image: url(../img/logo_bg_gray.png);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          bottom: -120px;
          right: 0;
          @include mq(sp) {
            transform: scale(0.5);
            bottom: -48px;
            transform-origin: bottom right;
          }
        }
      }
      &__box {
        position: relative;
        z-index: 2;
        flex: 0 0 50%;
        @include mq(sp) {
          margin-top: 12px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      &__list {
        color: #eee;
        font-size: 1.6rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 12px;

        &:first-child {
          margin-top: 0;
        }

        .term {
          background-color: #000;
          padding: 10px 16px;
          text-align: center;
          flex: 0 0 24%;
          margin-right: 4%;
          @include mq(sp) {
            padding: 6px 8px;
            font-size: 1.4rem;
            flex: 0 0 32%;
          }
        }
        .description {
          @include mq(sp) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

/*--------------------
	フッター
--------------------*/
  .footer {
    padding: 82px 0 257px;
    @include mq(sp) {
      padding: 64px 0 172px;
    }
    &__sns {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      @include mq(sp) {
        display: block;
      }
      &__item {
        display: flex;
        align-items: center;
        @include mq(sp) {
          margin-top: 8px;
          @include mq(sp) {
            &:first-child {
              margin-top: 0;
            }
          }
        }
        .hd {
          font-size: 1.2rem;
          margin-right: 20px;
          color: $txt-color;
          line-height: 1.58;
        }
        .list {
          display: flex;
          align-items: center;
          &__item {
            margin-left: 12px;
            @include mq(sp) {
              margin-left: 8px;
            }
            &:first-child {
              margin-left: 0;
            }

            img {
              @include mq(sp) {
              height: 24px;
              margin-bottom: 4px;
              }
            }
          }
        }
      }
    }
    &__share {
      margin-right: 44px;
    }
    &__copyright {
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      @include mq(sp) {
        font-size: 1.2rem;
        margin-top: 40px;
      }
      &__ga {
        transition: opacity 0.3s;
        @include mq(pc) {
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }

/*--------------------
	ページトップ
--------------------*/
  .pagetop {
    position: absolute;
    right: 40px;
    bottom: 0;
    z-index: 100;
    transition: opacity 0.4s;
    @include mq(sp) {
      right: 16px;
      transform: scale(0.8);
      transform-origin: bottom right;
    }
    // opacity: 0;
    a {
      display: block;
      background-color: #fff;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: relative;
      &::before {
        content: '';
        display: inline-block;
        background-image: url(../img/ico_arrow_top.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 5px;
        height: 13px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  // &.js-scroll  {
  //   .pagetop {
  //     opacity: 1;
  //   }
  // }

/*--------------------
	固定コンバージョン
--------------------*/
  .fixed__conversion {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    transform: translateY(calc(100% + 32px));
    transition: all 0.6s ease;

    &__head {
      text-align: center;
      background-color: #000;
      padding: 2px 8px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      font-weight: bold;
      white-space: nowrap;
      @include mq(sp) {
        font-size: 1.3rem;
      }
    }
    &__body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 22px 0 16px;
      border-top: 1px solid #fff;
      background-color: #000;
      @include mq(sp) {
        padding: 16px 24px 12px;
      }

      .commonBtn01 {
        @include mq(sp) {
          flex: 0 0 48%;
        }
        &.-pink {
          margin-right: 10px;
        }
      }
    }
  }
  &.js-scroll {
    .fixed__conversion {
      transform: translateY(0);
    }
  }

}
