@charset "utf-8";

/* ============================================
	MODULES
// ==========================================*/

/*--------------------
	commonTitle
--------------------*/
.commonTitle01{
	position: relative;
	&::before {
		content: '';
		display: inline-block;
		width: 274px;
		height: 357px;
		background-image: url(../img/logo_transculent.png);
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: -165px;
		left: -80px;
		z-index: -1;
		@include mq(sp) {
			transform: scale(0.5);
			left: -100px;
		}
	}

	.ja {
		font-size: 5rem;
		font-weight: bold;
		line-height: 1;
		@include mq(sp) {
			font-size: 2.8rem;
		}
	}
	.eng {
		font-size: 2rem;
		font-weight: 900;
		display: inline-block;
		margin-top: 8px;
		@include mq(sp) {
			font-size: 1.5rem;
			margin-top: 0;
		}
	}

	&.-center {
		text-align: center;
		display: inline-block;
	}
	&.-small {
		display: flex;
		padding-left: 88px;
		margin-left: 32px;
		&::before {
			content: '';
			display: inline-block;
			width: 69px;
			height: 91px;
			background-image: url(../img/logo_small.png);
			background-size: contain;
			background-repeat: no-repeat;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			@include mq(sp) {
				transform: translateY(-58%);
			}
		}
		@include mq(sp) {
            margin-left: 0;
			display: block;
			padding-left: 80px;
        }

		.ja {
			font-size: 3.4rem;
			@include mq(sp) {
				font-size: 2.5rem;
				margin-top: 12px;
			}
		}
		.eng {
			font-size: 1.4rem;
			margin-left: 28px;
			@include mq(sp) {
				margin-left: 0px;
			}
		}
	}
}
.commonTitle02 {
	font-weight: bold;
	border-bottom: 2px solid #fff;
	display: inline-block;
	line-height: 1;
	@include mq(sp) {
		border-bottom: 1px solid #fff;
	}

	&.-big {
		font-size: 3.6rem;
		padding-bottom: 8px;
		@include mq(sp) {
			font-size: 1.8rem;
			padding-bottom: 6px;
		}
	}
	&.-small {
		font-size: 3rem;
		padding-bottom: 4px;
		@include mq(sp) {
			font-size: 1.6rem;
		}
	}
}


/*--------------------
	commonBtn
--------------------*/
.commonBtn01{
	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 320px;
		height: 108px;
		padding: 24px 48px;
		transition: opacity 0.3s;
		@include mq(pc) {
			&:hover {
				opacity: 0.7;
			}
		}
		@include mq(sp) {
			width: 100%;
			height: 72px;
			padding: 0;
		}
	}

	&.-pink {
		a {
			background-color: #eb7973;
		}
		.txt {
			display: inline-block;
			font-size: 1.4rem;
			font-weight: bold;
			line-height: 1;
			@include mq(sp) {
				font-size: 1rem;
				line-height: 1.2;
			}
		}
		.num {
			display: inline-block;
			font-size: 2.6rem;
			font-weight: bold;
			line-height: 1;
			margin-top: 6px;
			position: relative;
			padding-left: 28px;
			@include mq(sp) {
				font-size: 1.8rem;
				padding-left: 0px;
				margin-top: 2px;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 18px;
				height: 18px;
				background-image: url(../img/ico_tel.png);
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				@include mq(sp) {
					content: none;
				}
			}
		}
	}
	&.-red {
		a {
			background-color: #c01a20;
		}
		.txt {
			font-size: 1.6rem;
			font-weight: bold;
			position: relative;
			padding-left: 24px;
			@include mq(sp) {
				padding-left: 0px;
				font-size: 1.3rem;
				line-height: 1.2;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 15px;
				height: 12px;
				background-image: url(../img/ico_mail.png);
				background-size: contain;
				background-repeat: no-repeat;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-56%);
				@include mq(sp) {
					content: none;
				}
			}
		}
	}
	&.-short {
		a {
			height: 58px;
		}
	}
}


/*--------------------
	list
--------------------*/
.list {
	&-big {
		font-size: 2.2rem;
		font-weight: bold;
		line-height: 1.8;
		@include mq(sp) {
			font-size: 1.6rem;
		}
	}
	&-disc {
		li {
			position: relative;
			padding-left: 16px;
			@include mq(sp) {
				padding-left: 12px;
			}
			&::before {
				content: '';
				display: inline-block;
				width: 5px;
				height: 5px;
				background-color: #fff;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				@include mq(sp) {
					width: 4px;
					height: 4px;
				}
			}
 		}
	}
	&-number {
		li {
			font-size: 1.6rem;
			line-height: 1.6;
			position: relative;
			counter-increment: number;
			padding-left: 22px;
			margin-top: 8px;
			@include mq(sp) {
				font-size: 1.4rem;
				margin-top: 4px;
			}

			&::before {
				content: counter(number);
				background-color: transparent;
				border: 1px solid;
				border-radius: 50%;
				box-sizing: border-box;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 18px;
				width: 18px;
				line-height: 1;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				font-size: 1.4rem;
				padding-left: 1px;
				@include mq(sp) {
					transform: translateY(-50%) scale(0.8);
				}
			}
			&:first-child {
				margin-top: 10px;
				@include mq(sp) {
					margin-top: 2px;
				}
			}
		}
	}
	&-small {
		li {
			font-weight: bold;
			font-size: 1.6rem;
			padding-left: 8px;
			@include mq(sp) {
				font-size: 1.4rem;
				line-height: 1.8;
			}
			&::before {
				width: 3px;
				height: 3px;
			}
		}
	}
}


/*--------------------
	commonNum
--------------------*/
.commonNum {
	font-size: 6rem;
	font-weight: 900;
	font-style: italic;
	color: rgba(#fff,0.1);
	line-height: 1;
	@include mq(sp) {
		font-size: 4rem;
	}
}
