@charset "utf-8";

/* ============================================
  CONPONENT BACKGROUND
// ==========================================*/

/*------------------------------
  マスク
------------------------------*/
.c-background--mask {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(#000, 0.5);
	}
}


/*------------------------------
  固定
------------------------------*/
.c-background--fixed {
	@include mq(pc) {
		background-attachment: fixed;
	}
	@include mq(ie) {
		background-attachment: local;
	}
	@include mq(tab) {
		background-attachment: initial;
	}
}


/*------------------------------
  反射
------------------------------*/
.c-background--mirror__base {
	position: relative;
}
.c-background--mirror__item {
	position: absolute !important;
	transform: scaleY(-1);
	width: 100%;
	opacity: 0.6;
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, #000 0%, rgba(255, 255, 255, 0) 100%);
	}
}
